[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/attractivechaos/klib
[submodule "lib/nuklear"]
	path = lib/nuklear
	url = https://github.com/vurtun/nuklear
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/Extrawurst/cimgui
